<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        #nuttruoc {
            width: 50px;
            height: 50px;
            background-color: tomato;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            display: none;
            position: fixed;
            bottom: 70px;
            right: 20px;
            cursor: pointer;
        }

        .fa-sharp {
            position: fixed;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            bottom: 85px;
            right: 37px;
            font-size: 20px;
            color: yellow;
        }
    </style>
</head>
<body style="font-family: Roboto, sans-serif; line-height: 1.25rem; background-color: rgb(248, 248, 252); ">
    <div style="background-color: #1435c3">
        <nav style="width: 1200px; background-color: #1435c3" class="navbar navbar-expand-sm navbar-dark m-auto">
            <ul class="navbar-nav m-auto a-white">
                <li class="nav-item">
                    <a class="nav-link" href="#">Khuyến mãi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hệ thống Showroom</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tư vấn mua hàng: 1800 6867</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CSKH: 1800 6865</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tin công nghệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Xây dựng cấu hình</a>
                </li>
            </ul>
        </nav>
    </div>
    <div style="box-shadow: 0px 5px 10px 1px gray">
        <nav style="width: 1200px;" class="navbar navbar-expand-sm navbar-dark m-auto">
            <ul style="max-width: 1200px" class="navbar-nav a-gray">
                <li class="nav-item me-2  align-self-center">
                    <a href="/home/trangchu">
                        @*<img style="width: 100px" src="~/img/logo.png" alt="Alternate Text" />*@
                        <img style="width: 80px;height:70px" src="~/img/mystical phoenix.png" />
                    </a>
                </li>

                <li class="nav-item align-self-center">
                    <input style="width: 450px" class="form-control" type="text" name="name" value="" placeholder="Nhập từ khóa cần tìm" />
                </li>
                <li class="nav-item align-self-center">
                    <a style="width: 100px; color: white" class="btn btn-primary" href="#">Tìm kiếm</a>
                </li>
                <li class="nav-item ms-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="row mt-3 usercheck" id="menu-relative" style="width: 200px">
                            <div class="col-4">
                                <img class="mt-1" style="width: 30px" src="~/img/user-main.png" alt="Alternate Text" />
                            </div>
                            <div class="col-8">
                                <a class="text-secondary" href="#">Xin chào,</a>
                                <br />
                                <a class="text-secondary" href="#">@User.Identity.Name</a>
                            </div>

                            <ul class="menu-thongtin">
                                <li>
                                    <a href="/account/infouser?UserName=@User.Identity.Name">Thông tin tài khoản</a>
                                </li>
                                @if (User.Identity.Name == "admin")
                                {
                                    <li>
                                        <a href="/admin/admin/quanly">Quản lý sản phẩm</a>
                                    </li>
                                }
                                <li class="d-flex justify-content-center">
                                    <a class="btn btn-primary text-white w-100" href="/account/logout">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="row mt-3 user">
                            <div class="col-4">
                                <img class="" style="width: 40px" src="~/img/user-main.png" alt="Alternate Text" />
                            </div>
                            <div class="col-8">
                                <a class="text-secondary" href="/account/login">Đăng nhập</a>
                                <br />
                                <a class="text-secondary" href="/account/register">Đăng kí</a>
                            </div>
                        </div>
                    }
                </li>
                <li class="nav-item ms-2 align-self-center">
                    <img style="width: 35px" src="~/img/bell.png" alt="Alternate Text" />
                </li>
                <li class="nav-item ms-2">
                    <div class="d-flex justify-content-center">
                        <a href="/cart/index" >
                            <img style="width: 35px;margin-top: 17px;margin-right: 10px" src="~/img/shopping-cart.png" alt="Alternate Text" />
                        </a>
                        <div class="mt-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="text-secondary" href="/cart/index">
                                    Giỏ hàng của bạn<br /> (@{Html.RenderPartial("SessionView");}) sản phẩm
                                </a>
                            }
                            else
                            {
                                <a class="text-secondary" href="/cart/index">
                                    Giỏ hàng của bạn<br /> (0) sản phẩm
                                </a>
                            }
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    @* ================================================================================================================= *@
    <div style="width: 1200px;" class="m-auto mt-3">
        @RenderBody()
    </div>


    @* ================================================================================================================= *@

    <footer style="background-color: lightgray" class="p-3 mt-3">
        <div style="max-width: 1200px" class="row m-auto">
            <div class="row">
                <div style="font-size: 12px" class="col-5">
                    <h5>CÔNG TY CỔ PHẦN THƯƠNG MẠI - DỊCH VỤ NGUYỄN NGỌC THIÊN</h5>
                    <p>
                        © 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ Phong Vũ
                        Giấy chứng nhận đăng ký doanh nghiệp: 0304998358 do Sở KH-ĐT TP.HCM
                        cấp lần đầu ngày 30 tháng 05 năm 2007
                    </p>
                </div>
                <div style="font-size: 12px" class="col-5">
                    <h6>Địa chỉ trụ sở chính:</h6>
                    <p>Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh</p>
                    <h6>Văn phòng điều hành miền Bắc:</h6>
                    <p>Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội                    </p>
                    <h6>Văn phòng điều hành miền Nam:</h6>
                    <p>
                        Tầng 11 Minh Long Tower, số 17 Bà Huyện Thanh Quan,
                        Phường Võ Thị Sáu, Quận 3, TP. Hồ Chí Minh
                    </p>
                </div>
                <div class="col-2">
                    <img src="~/img/thongbao.png" alt="Alternate Text" />
                    <img src="~/img/dmca.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </footer>

    <div id="nuttruoc">
        <i class="fa-sharp fa-solid fa-arrow-up"></i>
    </div>




    @* ====================================================================================== *@
    <script>
        $(document).ready(function () {
            $(window).scroll
                (
                    function () {
                        if ($(this).scrollTop()) {
                            $('#nuttruoc').fadeIn();
                        }
                        else {
                            $('#nuttruoc').fadeOut();
                        }

                    }
                )
            $('#nuttruoc').click
                (
                    function () {
                        $('html, body').animate({ scrollTop: 0, }, 5);
                    }
                )
        }
        );
    </script>
    <script>
        $('#sort').change(function () {
            const value = $('#sort').val();
            window.location.href = "/sanpham/sapxeptheogia?sort=" + value;
        });
    </script>
    <script>
        $('#ThuongHieu1').change(function () {
            const value = $('#ThuongHieu1').val();
            window.location.href = "/sanpham/sapxeptheothuonghieu?&&thuonghieu=" + value;
        });
        $('#ThuongHieu2').change(function () {
            const value = $('#ThuongHieu2').val();
            window.location.href = "/sanpham/sapxeptheothuonghieu?&&thuonghieu=" + value;
        });
        $('#ThuongHieu3').change(function () {
            const value = $('#ThuongHieu3').val();
            window.location.href = "/sanpham/sapxeptheothuonghieu?&&thuonghieu=" + value;
        });
        $('#ThuongHieu4').change(function () {
            const value = $('#ThuongHieu4').val();
            window.location.href = "/sanpham/sapxeptheothuonghieu?&&thuonghieu=" + value;
        });
        $('#ThuongHieu5').change(function () {
            const value = $('#ThuongHieu5').val();
            window.location.href = "/sanpham/sapxeptheothuonghieu?&&thuonghieu=" + value;
        });
    </script>
    <script>
        $('#loai1').change(function () {
            const value = $('#loai1').val();
            window.location.href = "/sanpham/sapxepphanloai?phanloai=" + value;
        });
        $('#loai2').change(function () {
            const value = $('#loai2').val();
            window.location.href = "/sanpham/sapxepphanloai?phanloai=" + value;
        });
        $('#loai3').change(function () {
            const value = $('#loai3').val();
            window.location.href = "/sanpham/sapxepphanloai?phanloai=" + value;
        });
        $('#loai4').change(function () {
            const value = $('#loai4').val();
            window.location.href = "/sanpham/sapxepphanloai?phanloai=" + value;
        });
        $('#loai5').change(function () {
            const value = $('#loai5').val();
            window.location.href = "/sanpham/sapxepphanloai?phanloai=" + value;
        });
    </script>
    <script>
        $('#seri1').change(function () {
            const value = $('#seri1').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri2').change(function () {
            const value = $('#seri2').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri3').change(function () {
            const value = $('#seri3').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri1').change(function () {
            const value = $('#seri1').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri4').change(function () {
            const value = $('#seri4').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri1').change(function () {
            const value = $('#seri1').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri5').change(function () {
            const value = $('#seri5').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri6').change(function () {
            const value = $('#seri6').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri7').change(function () {
            const value = $('#seri7').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
        $('#seri8').change(function () {
            const value = $('#seri8').val();
            window.location.href = "/sanpham/SeriesSanPham?series=" + value;
        });
    </script>
</body>
</html>
